<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <ion-input 
          label="Confirme o código" 
          labelPlacement="stacked" 
          placeholder="****" 
          maxlength="4"
          type="number"
          required 
          [(ngModel)]="code"
          (change)="writeCode($event)">
        </ion-input>
        <span class="error-text">{{ errorText }}</span>
        <ion-button class="button-clock" (click)="takePhotoToClock()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Bater Ponto
        </ion-button>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>